html{
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#check-in {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(255, 255, 0);
    margin: 30px;
}
a {
    font-size: 30px;
    text-decoration: none;
    color: yellow;
}
#head-line{
    font-size: 30px;
    color: yellow;
    width: 600px;
    text-align: center;
}